In [1]:
# Importing packages:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
# Defining the search path of the file, the name and the separator:

file_path = "../../data/01_raw/"
file_name = "b2-transactions.csv" #'b2-transactions_sample.csv' 
exit_path = "../../data/02_intermediate/"

filtered_file_name="c1-filtered_transactions.csv"

sep=";"

In [3]:
df=pd.read_csv(file_path+file_name, sep=sep, nrows=10000)

In [6]:
df.to_csv(file_path+'prueba.csv', sep=sep)

In [7]:
df2=pd.read_csv(file_path+'prueba.csv', sep=sep)

In [8]:
df2.head()

,Unnamed: 0,product_id,description,order_date,section,store,units_ordered
0,0,211.0,EMPANADILLAS SALMON,12/6/2009 0:00:00,0,BmUP,"0,00"
1,1,1231.0,MALLORCA CELOFAN VAINILLA,13/6/2009 0:00:00,0,BmUP,"0,00"
2,2,1233.0,ROCAS FILET VAINILLA,13/6/2009 0:00:00,0,BmUP,"1,00"
3,3,1234.0,LICOR GUINDAS,13/6/2009 0:00:00,0,BmUP,"1,00"
4,4,1235.0,LICOR UVAS,13/6/2009 0:00:00,0,BmUP,"1,00"