# Transforming Raw data to a transaction table

The following script transforms the raw data, which was provided aggregated by store, to a trasaction data with columns:

- product_id
- description
- order_date
- section
- store
- units_ordered

In [16]:
import pandas as pd

In [17]:
base_path = "../../data/01_raw/"

file2 = "b2.txt" # Contains data from 201X to the extraction date on October 2019.

header_file2 = ["product_id",
          "description",
          "order_date",
          "section",
          "BmUP",
          "VeUp",
          "CzUP",
          "AaUP",
          "SeUP",
          "JPUP",
          "RzUP",
          "AeUP",
          "LiUP",
          "EnUP",
          "GoUP",
          "GrUP",
          "AnUP",
          "MoUP",
          "PoUP",
          "MsUP",
          "ViUP",
          "ZiUO",
          "GeUP"]

In [18]:
df = pd.read_csv(base_path + file2 , sep = ";", encoding = "ISO-8859-1", names = header_file2)

In [ ]:
df = df.melt(id_vars =["product_id","description","order_date","section"], var_name='store', value_name='units_ordered')

In [ ]:
df.to_csv("../../data/01_raw/b2_transactions", sep = ";")