# FILTERING THE DATASET:

Along this script we will get from an initial list of products provided by our client, to a final list (as per the names and ids present within the real data), which will be used to filter our initial data in order to get a smaller, more manageable file.

This process will be divided in two main steps:

- Check the names in our list with the descriptions present in our data, analyze them and select a final list

- Use this list to filter our data and store the resulting information in a more small and convenient file

## CREATING THE LIST OF PRODUCTS FOR THE ANALYSIS:

After rearranging the data in a more convenient manner and doing some introductory analysis of the data, we now want to get down to work with our data.

A list has been given to us of the 10 products that our clients found as more relevant to their business.

What we want now is to check whether the names on the list correspond to certain uniques ids, or, as seen in the previous scripts, some conflict of unicity will arise between the id of our products and their descriptions.

So, we are going to check our dataframe and select from it the ids and descriptions of our products that match the indications given in our clients list. With the lists (in reality, two dictionaries) of the ids and descriptions that match every product given to us, we will decide which are the more appropriate.

Perhaps some guidance from our client would be needed at this stage.

### 1. Read dataframe

In [63]:
# Importing packages:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
from collections import Counter
from fuzzywuzzy import fuzz
from fuzzywuzzy import process



%matplotlib inline
pd.options.display.max_columns = None

In [64]:
# Defining the search path of the file, the name and the separator:

file_path = "../../data/01_raw/"
file_name = "b2-transactions.csv"
exit_path = "../../data/02_intermediate/"

filtered_file_name="c1-filtered_transactions.csv"

sep=";"

In [65]:
# We create the list of products provided by the client
list_of_products=['croissant',
                  'croissant petit',
                  'tarta mousse 3 chocolates',
                  'tarta de manzana 2º',
                  'palmera', 
                  'tarta opera',
                  'postre fresas y mascarpone',
                  'milhojas frambuesa 2º',
                  'tortel',
                  'baguette']

In [66]:
# We import the dataframe:
df=pd.read_csv(file_path+file_name, sep=sep)

In [67]:
df.sample(5)

,product_id,description,order_date,section,store,units_ordered
2619043,6010.0,CARACOLAS HOTEL/PIEZA/5HORA,9/10/2009 0:00:00,0,VeUp,"0,00"
15095552,1265.0,ARBOL DE NAVIDAD FRUTOS SECOS GRANDE,18/12/2017 0:00:00,0,EnUP,"0,00"
17340825,9999.0,Encargo CARTEL FELICIDADES ADELITA,30/12/2014 0:00:00,0,GoUP,"0,00"
3857049,298.0,QUICHES DE VERDURAS,22/12/2017 0:00:00,0,CzUP,"0,00"
29946253,459.0,MILHOJAS FRAMBUESA 2º,30/1/2010 0:00:00,0,GeUP,"0,00"

### 2. Normalizing and aggregating description names

Unfortunately, there is no convention for the description and one id could 

1. Normalize descriptions as much as possible using:
    - Regex expressions 
    - Basic NLP for spell-checking.
2. Create a normalization file with the following structure:
    - Unique Product_id and normalized description
    - Flag to indicate if the product is part of the given list, or not.  
3. Finally review the list manually.

### 2.1 Normalizing description names

In [68]:
# Most of the descriptions are in uppercase, however others are in lower:

df['description_normalized']=df['description'].str.lower()

# We also notice that there are spacing issues at the begining, end of the description and between words:

df['description_normalized']=df['description_normalized'].str.strip()
df['description_normalized']=df['description_normalized'].str.replace(r'[^0-9a-zA-Z]+', ' ') #replace non alfanumeric with spaces
df['description_normalized']=df['description_normalized'].str.replace(r' +', ' ') # Remove multi-spacing

In [69]:
df.sample(5)

,product_id,description,order_date,section,store,units_ordered,description_normalized
5876614,1470.0,GARROTA GRANDE LIMON,24/3/2011 0:00:00,0,AaUP,"0,00",garrota grande limon
4114669,420.0,TIRA DE HOJALDRE Y FRUTAS,24/1/2008 0:00:00,0,CzUP,"1,00",tira de hojaldre y frutas
24261324,802.0,POSTRE CHEESECAKE,17/5/2013 0:00:00,0,MsUP,"6,00",postre cheesecake
3031066,239.0,ECLEAR QUESO Y JAMON,6/4/2016 0:00:00,0,VeUp,"2,00",eclear queso y jamon
2670559,106.0,CROISANTS VACIOS,7/1/2011 0:00:00,0,VeUp,"12,00",croisants vacios

Now lets gets get our hands dirty and apply some basic NLP.

1. Create a dataset with pastry products by parsing the bakery catalogues, and other pastry websites. (this was done manually, by converting the pdf catalogues to txt using an external web. THe resulting file is named productos.txt)

2. Following the indications from: https://medium.com/@hdezfloresmiguelangel/implementando-un-corrector-ortogr%C3%A1fico-en-python-utilizando-la-distancia-de-levenshtein-498ec0dd1105 create an spell-checker based on the products.txt dataset and the Levenshtein distance

In [70]:
import re
from collections import Counter

def words(text): return re.findall(r'\w+', text.lower())

WORDS = Counter(words(open('../../data/01_additional_data/productos.txt').read()))

def P(word, N=sum(WORDS.values())): 
    "Probability of `word`."
    return WORDS[word] / N

def correction(word): 
    "Most probable spelling correction for word."
    return max(candidates(word), key=P)

def candidates(word): 
    "Generate possible spelling corrections for word."
    return (known([word]) or known(edits1(word)) or known(edits2(word)) or [word])

def known(words): 
    "The subset of `words` that appear in the dictionary of WORDS."
    return set(w for w in words if w in WORDS)

def edits1(word):
    "All edits that are one edit away from `word`."
    letters    = 'abcdefghijklmnopqrstuvwxyz'
    splits     = [(word[:i], word[i:])    for i in range(len(word) + 1)]
    deletes    = [L + R[1:]               for L, R in splits if R]
    transposes = [L + R[1] + R[0] + R[2:] for L, R in splits if len(R)>1]
    replaces   = [L + c + R[1:]           for L, R in splits if R for c in letters]
    inserts    = [L + c + R               for L, R in splits for c in letters]
    return set(deletes + transposes + replaces + inserts)

def edits2(word): 
    "All edits that are two edits away from `word`."
    return (e2 for e1 in edits1(word) for e2 in edits1(e1))

In [71]:
correction("trta")

'tarta'

In [72]:
correction("roquefor ")

'roquefort'

Fantastic! the it seems to work. Lets now apply it to our dataset:

In [73]:
def spell_check (line):
    "Given a sentence, returns spell-checks word by word"
    if len(line) > 0:
        new = []
        line = line.split(" ")
        for word in line:
            new.append(correction(word))
        return " ".join(new)
            
    else:
        return line

In [74]:
df["description_normalized"] = df["description_normalized"].apply(lambda line: spell_check(line))

TypeError: object of type 'float' has no len()

### 2.2 Normalizing description names 

It is time to create the file that will be manually reviewed.

- First, we will take only the normalized column and the id
- then, we will remove duplicates
- Finally, we will create the column "target-list-product" to identify if the normalized description matches with the list provided with the client or not

In [ ]:
df_normalized_unique = df_normalized[["description_normalized","product_id"]].drop_duplicates()
df_normalized_unique.dropna(inplace = True)

In [ ]:
def find_match (line, options = list_of_products):
    highest = process.extractOne(line,list_of_products)
    if highest[1]<60:
        return "not-found"
    else:
        return highest[0]

In [ ]:
df_normalized_unique["name_on_list"] = df_normalized_unique["description_normalized"].apply(lambda line: find_match(line))

Now, we construct a table with possible matches between the list provided by the client, and product descriptions and ID's

In [94]:
# Second, we group by the transaction table to obtain a unique list of product descriptions, with a list of ids per description
df_names = df[["description_lower","product_id"]].groupby("description_lower")["product_id"].apply(set).to_frame().reset_index()
df_names.head()

                                   description_lower product_id
0      2 chapas de ingleses cocidos con el 2 furg n     {124.0}
1                        botes de caramelos de bolas   {9999.0}
2                                caja carre 70 cacao   {9999.0}
3   cartel que ponga para lola y valeria debajo 1...   {9999.0}
4                              conejo forma de huevo   {9999.0}

In [ ]:
CONTINUE FROM HERE

In [102]:
# Third, we iterate to find possible description and id matches per product in the list provided by the client

# Initialization of descriptions and ids Series
descriptions = pd.Series(name = "possible_descriptions")
ids = pd.Series(name = "possible_ids")

# Iteration to bulkly identify possible descriptions and ids for each product
for product in list_of_products:    
    if product == "croissant":
        matches = df_names.loc[df_names['description_lower'].str.startswith(product), ["description_lower",'product_id']]
    else:
        matches = df_names.loc[df_names['description_lower'].str.contains(product), ["description_lower",'product_id']]
    descriptions[product] = set(matches["description_lower"].tolist())
    ids[product] = set.union(*matches["product_id"].tolist())
    
# Consolidate results into a dataframe and print it
df_filtered_products =  pd.concat([descriptions, ids], axis=1)
df_filtered_products

TypeError: descriptor 'union' of 'set' object needs an argument

# 2. PRODUCTS NEED TO BE CLEANED ONE BY ONE

## 2.1 croissant

## 2.2 croissant petit

## 2.3 tarta mousse 3 chocolates

## 2.4 tarta de manzana 2º

## 2.5 palmera

## 2.6 tarta opera

## 2.7 milhojaspostre fresas y mascarpone

## 2.8 milhojas frambuesa 2º

## 2.9 tortel

## 2.9 baguette

### 1.2. LOADING ALL THE DATAFRAME IN CHUNKS AND GETTING ALL THE RESULTS:

In [65]:
# We import the dataframe:

reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=2000000)

# Two empty lists are created to store, for each product, the list that results from looking for it in the chunk.

NL1=list([None]*len(list_of_products))
NL2=list([None]*len(list_of_products))

# Getting the chunks and proceeding:

for chunk in reader:

    chunk.dropna(how='any', inplace=True)
    chunk=chunk.drop('Unnamed: 0', axis=1)

    chunk['description_lower']=chunk['description'].str.lower()

    list_prod_list_ids=[None]*len(list_of_products)
    list_prod_list_descrip=[None]*len(list_of_products)
        
    for i, product in enumerate(list_of_products):

        list_prod_list_ids[i]=list(chunk[chunk['description_lower'].str.startswith(product)]['product_id'].unique())
        list_prod_list_descrip[i]=list(chunk[chunk['description_lower'].str.startswith(product)]['description_lower'].unique())
        
    for i, element in enumerate(list_prod_list_ids):
        
        if NL1[i]:    
            NL1.append(list_prod_list_ids[i])
            NL2.append(list_prod_list_descrip[i])
            
        else:
            NL1[i]=list_prod_list_ids[i]
            NL2[i]=list_prod_list_descrip[i]

In [15]:
rel_prod_list_ids=dict(zip(list_of_products,NL1))
rel_prod_list_descrip=dict(zip(list_of_products,NL2))

In [16]:
rel_prod_list_ids

{'croissant': [102.0,
  103.0,
  105.0,
  107.0,
  101.0,
  132.0,
  5001.0,
  100.0,
  214.0,
  189.0,
  198.0,
  197.0,
  9999.0,
  513.0,
  512.0,
  112.0],
 'croissant petit': [103.0, 102.0],
 'tarta mousse 3 chocolates': [9999.0, 453.0],
 'tarta de manzana 2º': [462.0, 9999.0],
 'palmera': [140.0, 182.0, 190.0, 9999.0, 141.0],
 'tarta opera': [9999.0, 414.0, 426.0, 427.0, 403.0, 14998.0, 402.0, 428.0],
 'postre fresas y mascarpone': [4511.0, 9999.0, 450.0],
 'milhojas frambuesa 2º': [459.0],
 'tortel': [112.0, 3352.0, 9999.0, 3375.0],
 'baguette': [115.0, 8739.0, 9999.0]}

In [52]:
rel_prod_list_descrip

{'croissant': ['croissant frances',
  'croissant petit',
  'croissant chocolate',
  'croissant vacios',
  'croissant',
  'croissant integral',
  'croissant alargado grande piezas',
  'croissant de chocolate',
  'croissant sobrasada gr.',
  'croissant integral   latas',
  'croissant alargado  paris   piezas',
  'croissants  paris  --  largos  -',
  'croissant petit  alargados  piezas --futbol',
  'croissant petit  --  futbol --',
  'croissant   integral',
  'croissant cereales largo',
  'croissant normal largo',
  'croissant normal petit',
  'croissant chocolate largo',
  'croissant almendra largo',
  'croissant cereales petit',
  'croissant almendra petit',
  'croissant chocolate petit',
  'croissant integral     6 piezas--',
  'croissant  integral    --  piezas --',
  'croissant paris alargados (futbol)',
  'croissant frances--alaragado  piezas--futbol',
  'croissant  paris  alargados  piezas',
  'croissant pi\\ones',
  'croissant paris  alargados',
  'croissant frances, de estas latas necesitaria 3 latas en el furgon del pan ',
  'croissant frances---cocido  en  el  coche  del  pan',
  'croissant grandes largos piezas',
  'croissant   grandes  largos  piezas',
  'croissant grandes  largos  piezas',
  'croissant  grandes  largos piezas',
  'croissant largos  grandes piezas',
  'croissant  grandes  largos  piezas',
  'croissant frances  alargados futbol  piezas',
  'croissant alargado grande',
  'croissant  grandes largos  piezas',
  'croissant  grandes  largos   piezas',
  'croissant grandes largos pìezas',
  'croissant paris   alargados  piezas',
  'croissant  grandes largos piezas',
  'croissant alargados grande',
  'croissant a largado grande',
  'croissant  integral  piezas',
  'croissant grandes  largos piezas',
  'croissants  alargados grandes  piezas',
  'croissant grandes largos  piezas',
  'croissant  alargados  grandes  piezas',
  'croissants  grandes  largos  piezas',
  'croissant grandes  largos  pieza',
  'croissant largos  grandes  piezas',
  'croissant petit  cocer  a las  14 h latas',
  'croissant  petit  latas   cocer  a las  14 h',
  'croissant  alargados   grandes   piezas',
  'croissant petit  - latas  cocer  a las 14 h',
  'croissant petit   3 kg son de encargo',
  'croissant  largos  grandes piezas',
  'croissant  alargados  grandes piezas',
  'croissant petit   futbol',
  'croissant   largos  grandes  piezas',
  'croissant petit  latas   cocer  a las  14 h',
  'croissant  alargados piezas',
  'croissant grandes largos  peizas',
  'croissant   paris   alargados  piezas',
  'croissant alargados grandes',
  'croissant  grandes  largos  pieza',
  'croissant  grandes largos  pieza',
  'croissant paris  largos   futbol',
  'croissant grande alargado',
  'croissant  largos  grandes  piezas',
  'croissant  alargado grande',
  'croissant petit  futbol',
  'croissants   grandes  largos piezas',
  'croissant grandes   largos  piezas',
  'croissant   frances    alargados  piezas',
  'croissant   grandes  alargados  piezas',
  'croissant petit  latas   cocer  a  las  14 h',
  'croissant grandes largos `piezas',
  'croissant petit cocer a las 2',
  'croissant  grandes  piezas  largos',
  'croissant grandes largos   piezas',
  'croissant alargados  grandes  piezas',
  'croissant petit   ---   futbol',
  'croissant petit  latas  cocer  a las  14 h',
  'croissant  alargados--  piezas',
  'croissant grndes  largos piezas',
  'croissant    grandes  largos  piezas',
  'croissant grande  largo  pieza',
  'croissant integrales  10 unidades',
  'croissant alargado  grande',
  'croissant grandes  piezas  largos',
  'croissant frances  alargados  piezas',
  'croissant  grandes   largos piezas',
  'croissant  paris  chocolate  piezas',
  'croissant alargado grandes',
  'croissant  paris  alargados  futbol',
  'croissant  alargados  piezas  grandes',
  'croissant petit  cocer  14 h --  latas',
  'croissant  alargados  piezas',
  'croissant  alargados -  piezas',
  'croissant  grandres piezas  largos',
  'croissant petit  latas  cocer  a las 14h',
  'croissant largos  grandes `piezas',
  'croissant petit  latas  cocer  14 h',
  'croissant  largos   grandes  piezas',
  'croissant  alargado   piezas',
  'croissant  alargados  grandes  pieza',
  'croissant petit  latas  cocer  14h',
  'croissant petit  cocer  14 h  latas',
  'croissantgrandes largos piezas',
  'croissant petit -- latas--  cocer  14h',
  'croissant  alargados   grandes  piezas',
  'croissant   piezas  alargadas',
  'croissant   alargados   piezas',
  'croissants  grandes  largos  peizas',
  'croissant  grandes largos peizas',
  'croissant  frances  alargados',
  'croissant petit  alargados  futbol',
  'croissant chocolate  encargo',
  'croissant almendra',
  'croissant petit  latas  cocer  alas 14h',
  'croissant petit latas cocer a las 2',
  'croissant   grandes  largos   piezas',
  'croissant petit  latas  cocer  alas  14 horas',
  'croissant   grandes  largos piezas',
  'croissant petit   alargados  futbol',
  'croissant petit   10 son de encargo',
  'croissant  paris  cocer  a  las  9 h',
  'croissant petit  alargados',
  'croissant  grandes  alargados  piezas',
  'croissant   alargados  grandes  piezas',
  'croissant petit latas cocer a las 2:00',
  'croissant petit   latas  cocer  a las  14 horas',
  'croissant paris   alargados',
  'croissants   grandes  largos  piezas',
  'croissants  paris  chocolate',
  'croissant petit a las 2 horas',
  'croissant petit latas cocer a las 11 h',
  'croissant petit  latas  cocer  alas 12 h',
  'croissant   grandes  largos    piezas',
  'croissant petit  latas  cocer  a las 14 h',
  'croissant petit  latas   cocer  alas 14 h',
  'croissants  alargados  grandes  piezas',
  'croissant petit latas a las 10 horas',
  'croissant petit  latas  cocer  alas  14 h',
  'croissant petit cocer a las 2 horas',
  'croissant   alargados  piezas  grandes',
  'croissants  alargados   grandes  piezas',
  'croissant chocolate  paris',
  'croissant petit a las 2',
  'croissant  grandes  piezas',
  'croissant petit  latas  cocer  alas 14 h',
  'croissant petit---cocidas   a  las  14,00  horas',
  'croissants   alrgados  grandes piezas',
  'croissants  grandes    alargados  piezas',
  'croissant petit  lata  cocer  13 h',
  'croissant petit  latas   cocer  a las  14h',
  'croissant petit  latas  cocer  a las  14h',
  'croissant largos grandes  piezas',
  'croissant de integral',
  'croissant  alargados   grande - piezas',
  'croissant  paris  chocolate   latas',
  'croissants   largos  grandes  piezas',
  'croissant   paris  alargados  futbol',
  'croissant  grandes   alargados  piezas',
  'croissant  alargados  piezas  largos',
  'croissant frances  de chocolate --piezas',
  'croissant  grndes largos  piezas',
  'croissant   grandes largos  piezas',
  'croissant  normal latas',
  'croissant   grandes largos piezas',
  'croissant integral  encargo-------',
  'croissant grandes largos pieza',
  'croissant  grandes largos pieza',
  'croissant paris  alargados  futbol',
  'croissant parisien cocido--lata',
  'croissant  alargado cocido.--lata',
  'croissant curvo  cocido--lata',
  'croissant frances son de encargo para el día 10',
  'croissant paris chocolate piezas',
  'croissant  integral latas',
  'croissant petit cocidas',
  'croissant  paris   alargados futbol latas',
  'croissant paris  chocolate  latas',
  'croissant frances  con el furgon del pan',
  'croissant de mango  unidades',
  'croissant petit  ya  cocido  con el  furgon del pan',
  'croissant petit mandar con el coche del pan',
  'croissant petit---cocidas  en  el furgon del  pan',
  'croissant   integral  latas'],
 'croissant petit': ['croissant petit',
  'croissant petit  alargados  piezas --futbol',
  'croissant petit  --  futbol --',
  'croissant petit  cocer  a las  14 h latas',
  'croissant petit  - latas  cocer  a las 14 h',
  'croissant petit   3 kg son de encargo',
  'croissant petit   futbol',
  'croissant petit  latas   cocer  a las  14 h',
  'croissant petit  futbol',
  'croissant petit  latas   cocer  a  las  14 h',
  'croissant petit cocer a las 2',
  'croissant petit   ---   futbol',
  'croissant petit  latas  cocer  a las  14 h',
  'croissant petit  cocer  14 h --  latas',
  'croissant petit  latas  cocer  a las 14h',
  'croissant petit  latas  cocer  14 h',
  'croissant petit  latas  cocer  14h',
  'croissant petit  cocer  14 h  latas',
  'croissant petit -- latas--  cocer  14h',
  'croissant petit  alargados  futbol',
  'croissant petit  latas  cocer  alas 14h',
  'croissant petit latas cocer a las 2',
  'croissant petit  latas  cocer  alas  14 horas',
  'croissant petit   alargados  futbol',
  'croissant petit   10 son de encargo',
  'croissant petit  alargados',
  'croissant petit latas cocer a las 2:00',
  'croissant petit   latas  cocer  a las  14 horas',
  'croissant petit a las 2 horas',
  'croissant petit latas cocer a las 11 h',
  'croissant petit  latas  cocer  alas 12 h',
  'croissant petit  latas  cocer  a las 14 h',
  'croissant petit  latas   cocer  alas 14 h',
  'croissant petit latas a las 10 horas',
  'croissant petit  latas  cocer  alas  14 h',
  'croissant petit cocer a las 2 horas',
  'croissant petit a las 2',
  'croissant petit  latas  cocer  alas 14 h',
  'croissant petit---cocidas   a  las  14,00  horas',
  'croissant petit  lata  cocer  13 h',
  'croissant petit  latas   cocer  a las  14h',
  'croissant petit  latas  cocer  a las  14h',
  'croissant petit cocidas',
  'croissant petit  ya  cocido  con el  furgon del pan',
  'croissant petit mandar con el coche del pan',
  'croissant petit---cocidas  en  el furgon del  pan'],
 'tarta mousse 3 chocolates': ['tarta mousse 3 chocolates del 3º, escrito en la tarta "feliz cumpleaños"',
  'tarta mousse 3 chocolates del 3º escrito encima " felicidades ainara "',
  'tarta mousse 3 chocolates del 5º que ponga feliz cumpleaños marisoe',
  'tarta mousse 3 chocolates  del segundo escrito en la tarta ,feliz cumpleaños nolan 7 años',
  'tarta mousse 3 chocolates 4º',
  'tarta mousse 3 chocolates del 4º',
  'tarta mousse 3 chocolates del 4º con cartel " felicidades raul "',
  'tarta mousse 3 chocolates del 3 - felicidades angela ycarlos-',
  'tarta mousse 3 chocolates 2º " felicidades sandra "',
  'tarta mousse 3 chocolates del 2 escrito sobre tarta- felicidades vera-',
  'tarta mousse 3 chocolates del 2 ecrito- felicidades jesus-',
  'tarta mousse 3 chocolates del 2º " muchas felicidades beatriz "',
  'tarta mousse 3 chocolates del 3º escrito sobre la tarta " diego "',
  'tarta mousse 3 chocolates del 3º escrito "felices 40"',
  'tarta mousse 3 chocolates del 4º  escrito sobre la tarta      felicidades cristina',
  'tarta mousse 3 chocolates de 16 rac',
  'tarta mousse 3 chocolates 3º escrito sobre la tarta " felicidades, 18"',
  'tarta mousse 3 chocolates 20 rac*',
  'tarta mousse 3 chocolates 4º escrito sobre la tarta " ramon y manoli" "20-9-1963" "20-9-2013" y dibu',
  'tarta mousse 3 chocolates del 2º escrito encima " felicidades rodrigo "',
  'tarta mousse 3 chocolates del 4',
  'tarta mousse 3 chocolates del 3 escrito encima - natalia- ',
  'tarta mousse 3 chocolates del 3º escrito sobre la tarta  " kristina "',
  'tarta mousse 3 chocolates del 2º escrito sobre la tarta " felicidades alejandro "',
  'tarta mousse 3 chocolates 2º con chocolatina " felicidades maria y gonzalo "',
  'tarta mousse 3 chocolates- escrito encima de la tarta "felicidades adriana"',
  'tarta mousse 3 chocolates del 3 escrito sobre la tarta - happy birthday gabriela-',
  'tarta mousse 3 chocolates del 3 escrito- felicidades charo-',
  'tarta mousse 3 chocolates del 3º--escrito sobre la tarta-"  porque eres la mejor, te queremos "',
  'tarta mousse 3 chocolates  del 3º escrito sobre la tarta " feliz cumpleaños beatriz "',
  'tarta mousse 3 chocolates del 3º escrito sobre la tarta " feliz cumpleaños nuria "',
  'tarta mousse 3 chocolates del 3º- escrito en la tarta "felicidades benidorm"',
  'tarta mousse 3 chocolates del 5º',
  'tarta mousse 3 chocolates 3º  escrito en la tarta "felicidades javier"',
  'tarta mousse 3 chocolates 2º cartel escrito feliz cumpleaños dani',
  'tarta mousse 3 chocolates de 16 rac.',
  'tarta mousse 3 chocolates 2º escrito sobre la tarta " felicidades maría y gonzalo',
  'tarta mousse 3 chocolates del 2º  "felicidades sheyla"',
  'tarta mousse 3 chocolates del 2º  "muchas felicidades"',
  'tarta mousse 3 chocolates del 2º escrito en la tarta "felicidades elena"',
  'tarta mousse 3 chocolates del 3º escrito sobre la tarta " felicidades papás "',
  'tarta mousse 3 chocolates del 2º escrito sobre la tarta " felicidades ismael "',
  'tarta mousse 3 chocolates del 3º escrito sobre la tarta " felicidades "',
  'tarta mousse 3 chocolates del 3 escrito - felicidades elisenda,alvaro y cecilia',
  'tarta mousse 3 chocolates 2 con cartel happy birthday charlie',
  'tarta mousse 3 chocolates del 4º escrito - feliz cumpleaños jimena -',
  'tarta mousse 3 chocolates del 2 escrito - felicidades jesus',
  'tarta mousse 3 chocolates del 2 escrito- felicidades alejandro-',
  'tarta mousse 3 chocolates del segundo escrito sobre la tarta - felicidades papa -',
  'tarta mousse 3 chocolates 2do. y escrito sobre la tarta felicidades sandra',
  'tarta mousse 3 chocolates del 4 escrito sobre la tarta - alejandra -',
  'tarta mousse 3 chocolates del 2º escrito " felicidades lucia "',
  'tarta mousse 3 chocolates del 1 cartel felicidades',
  'tarta mousse 3 chocolates 4to escrito en tarta felicidades andy y marta',
  'tarta mousse 3 chocolates del segundo escrito encima -felicidades marta-',
  'tarta mousse 3 chocolates del cuarto',
  'tarta mousse 3 chocolates del cuarto escrito sobre la tarta - felicidades pilo 90 años -',
  'tarta mousse 3 chocolates del 2 escrito sobre tarta felicidades rodrigo ',
  'tarta mousse 3 chocolates 6',
  'tarta mousse 3 chocolates con cartel felicidades rodrigo',
  'tarta mousse 3 chocolates del 3 escrito felicidades maria rosa ,alvaro y alfonso',
  'tarta mousse 3 chocolates del 1 con cartel que diga felicidadea jejo ',
  'tarta mousse 3 chocolates del 2 escrito encima felicidades',
  'tarta mousse 3 chocolates del 3',
  'tarta mousse 3 chocolates 3',
  'tarta mousse 3 chocolates del 2 y escrito felicidades',
  'tarta mousse 3 chocolates del 3º escrito sobre tarta " felicidades ernesto "',
  'tarta mousse 3 chocolates del 2º " felicidades "',
  'tarta mousse 3 chocolates del 5º " felicidades reduan "',
  'tarta mousse 3 chocolates 4º escrito felicidades paula 11 años',
  'tarta mousse 3 chocolates 3º escrito en la tarta"felicidades virginia"',
  'tarta mousse 3 chocolates 3º " felicidades esther "',
  'tarta mousse 3 chocolates del 2º " felicidades mila "',
  'tarta mousse 3 chocolates del 3º escrito " felicidades cuchi "',
  'tarta mousse 3 chocolates 2º escrito en la tarta "felicidades sonia"',
  'tarta mousse 3 chocolates del 3º con la  bella',
  'tarta mousse 3 chocolates del 3º escrito " felicidades javier y rebeca "',
  'tarta mousse 3 chocolates 2º " felicidades"',
  'tarta mousse 3 chocolates 2 con cartel  escrito felicidades',
  'tarta mousse 3 chocolates 2º escrito sobre la tarta " feliz 18 cumpleaños andres"',
  'tarta mousse 3 chocolates del 2º escritos " felicidades adam "',
  'tarta mousse 3 chocolates 4º  escrito sobre la tarta " happy birthday ali y nono"',
  'tarta mousse 3 chocolates  3 escrito sobre  la tarta felicidades yaya',
  'tarta mousse 3 chocolates del 2 escrito - felicidades nina-',
  'tarta mousse 3 chocolates del 2 y escrito felicidades lucia',
  'tarta mousse 3 chocolates del 2 -felicidades rodrigo-',
  'tarta mousse 3 chocolates del 2 con 2 carteles escritos -felicidades maria en uno y en el otro felic',
  'tarta mousse 3 chocolates del 3 escrito sobre la tarta - felicidades coloso-',
  'tarta mousse 3 chocolates del 2º con cartel "enhorabuena alejandra"',
  'tarta mousse 3 chocolates del 4º escrito en la tarta "feliz cumpleaños"',
  'tarta mousse 3 chocolates del 2º escrito en la tarta  t´estimem les sisters',
  'tarta mousse 3 chocolates del 2º " felicidades julio "',
  'tarta mousse 3 chocolates 3º  " felicidades javier 10 años "',
  'tarta mousse 3 chocolates 2º escrito sobre la tarta "otto"  (futbol)',
  'tarta mousse 3 chocolates del 2º- escrito en la tarta "feliz día pezqueñin"',
  'tarta mousse 3 chocolates 3º que ponga felicidades maria',
  'tarta mousse 3 chocolates 2º escrito sobre la tarta " lola 1 año "',
  'tarta mousse 3 chocolates del 2º escrito " happy birthaday baby " y con dibujo de un corazón',
  'tarta mousse 3 chocolates del 5º cartel "ivan"',
  'tarta mousse 3 chocolates 4',
  'tarta mousse 3 chocolates del 5º --20 rac',
  'tarta mousse 3 chocolates 4º escrito en la tarta "felicidades" ojo poner sin logotopos ni adornos de',
  'tarta mousse 3 chocolates 4º (16 rac*)',
  'tarta mousse 3 chocolates de 20 raciones con escrito sobre la tarta:  mariana y dani felicidades'],
 'tarta de manzana 2º': ['tarta de manzana 2º',
  'tarta de manzana 2ºcartel feliz cumpleaños',
  'tarta de manzana 2º " nara   muchas felicidades siempre !!!    te queremos muchísimo'],
 'palmera': ['palmeras',
  'palmeras de trufa',
  'palmera  de limon',
  'palmeras de chocolate unidades',
  'palmeras (encargo web)',
  'palmeras de limón',
  'palmeras de limon 1',
  'palmeras de trufa  -- unidades -   encargo para 1º hora -por favor  mandar sin falta  -',
  'palmera de limon 8udades ',
  'palmera de limon',
  'palmeras de limon',
  'palmeras de trufa encargo ww',
  'palmeras de encargo',
  'palmeras de trufa encargo web 4 unidades  mandar con el furgon del pan',
  'palmeras de trufa ( 1 unid de encargo)',
  'palmeras encargo web',
  'palmeras de trufa (alberto encargos)',
  'palmeras piezas',
  'palmeras unidades 4 piezas',
  'palmeras de trufa mandar con el furgon del pan',
  'palmeras 3 piezas',
  'palmera de trufa',
  'palmeras de trufa con furgon del pan',
  'palmeras de trufa mandar con el furgón del pan',
  'palmeras de trufa  mandar  con el furgon del pan',
  'palmeras chocolate',
  'palmeras de trufa necesito 1 con el furgón del pan para en encargo web',
  'palmeras de trufa    hay 50 de encargo..........................',
  'palmeras de trufa  --  encargo  --',
  'palmeras de limon latas',
  'palmeras    limon  piezas',
  'palmera  de limon (12 piezas)',
  'palmeras de trufa  -- encargo 1º hora -',
  'palmeras de hojaldre poco tostadas',
  'palmeras de trufa 2 unidades con furgon del pan pedido web',
  'palmeras por favor enviar en el furgon del pan aon para encargo wet de 9:00',
  'palmeras de trufa (piezas)',
  'palmeras de trufa primer furgón',
  'palmeras  de  chocolate   --piezas -   encargo  mandar  sin  falta'],
 'tarta opera': ['tarta opera del 2 escrito sobre la trta felicidades rafael ',
  'tarta opera del 2º con cartel "felicidades"',
  'tarta opera 5º con cartel "felicidades lili" y adornada con frutas naturales',
  'tarta opera 2º',
  'tarta opera del 5º',
  'tarta opera del 4º con cartel " felicidades dolly "',
  'tarta opera del 2º con cartel " felicidades raul "',
  'tarta opera del 4º con cartel que ponga "felicidades gaës" (ojo que la letra e lleva dieresis)',
  'tarta opera del 2º escrito encima " happy birthay nano  aba y papa "',
  'tarta opera 2º escrito en un cartel felicidades 18',
  'tarta opera 3º',
  'tarta opera 32 rac. escrito sobre la tarta " felicidades jose. feliz 60 cumpleaños"ccccccccccc',
  'tarta opera del 4  con cartel escrito- hugo y mar, muchas felicidades de vuestra familia-',
  'tarta opera 5º',
  'tarta opera 2º felicidades alejandra',
  'tarta opera del 6º escrito feliz cumpleaños',
  'tarta opera 10 raciones',
  'tarta opera de 20 raciones-escrito en la tarta: medio siglo',
  'tarta opera del 4º',
  'tarta opera del 8 escrito con chocolate blanco muchas feliciddes ',
  'tarta opera de 20 raciones escrito sobre la tarta - ivan tu eres el mas grande-- dibujar alguna nota',
  'tarta opera  6 r/',
  'tarta opera del 3',
  'tarta opera del 3. sin adorno',
  'tarta opera 2º " felicidades juanjo"',

Storing the list in a file:

In [60]:
import csv

with open(file_path+'rel_prod_list_descrip.csv', 'w') as f:
    for key in rel_prod_list_ids.keys():
        f.write("%s;%s\n"%(key,rel_prod_list_descrip[key]))

###  1.3. FINAL LIST:

In [67]:
# At end, we reach the following conclussions:

dict_of_products={'croissant': 100, # serious doubts, if it is not the 100, then possibly it should be 100+101+102
                  'croissant petit': 103,
                  'tarta mousse 3 chocolates': 9999, # almost only for order, creating a new id for this product is suggested
                  'tarta de manzana 2º': 462,
                  'palmeras de trufa': 182, # palmeras: 140
                  'tarta opera': 414, # 9999, for order, mostly. If included, creating a new id for this product is suggested
                  'postre fresas y mascarpone':4511,
                  'milhojas frambuesa 2º': 459,
                  'torteles': 112,
                  'baguette':115}

In [68]:
dict_of_products

{'croissant': 100,
 'croissant petit': 103,
 'tarta mousse 3 chocolates': 9999,
 'tarta de manzana 2º': 462,
 'palmeras de trufa': 182,
 'tarta opera': 414,
 'postre fresas y mascarpone': 4511,
 'milhojas frambuesa 2º': 459,
 'torteles': 112,
 'baguette': 115}

### 1.4. CHANGING THE ID OF A PRODUCT:

We face now the problem that one of our products is using a code that describes the orders (as seen in previous scripts).

To avoid complexity in the code to come, we decide to change the id of our product to another one, taking care firstly that it is not currently in use.

In [69]:
df.loc[df['description_lower'].str.startswith('tarta mousse 3 chocolates'), 'product_id']=10002

In [70]:
df[df ['product_id']==10002]

,product_id,description,order_date,section,store,units_ordered,description_lower
888,10002.0,"Tarta mousse 3 chocolates del 3º, escrito en l...",4/4/2013 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 3º, escrito en l..."
2340,10002.0,Tarta mousse 3 chocolates del 3º escrito encim...,15/3/2014 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3º escrito encim...
2531,10002.0,Tarta mousse 3 chocolates del 5º que ponga Fel...,5/4/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 5º que ponga fel...
2538,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL SEGUNDO ESCRITO...,5/4/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del segundo escrito...
38205,10002.0,TARTA MOUSSE 3 CHOCOLATES 4º,18/12/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 4º
40313,10002.0,Tarta mousse 3 chocolates del 4º,25/4/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4º
40451,10002.0,"Tarta Mousse 3 chocolates del 4º con cartel "" ...",26/4/2013 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 4º con cartel "" ..."
52807,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 3 - FELICIDADES ...,21/4/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3 - felicidades ...
64034,10002.0,"Tarta Mousse 3 chocolates 2º "" Felicidades San...",26/8/2012 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates 2º "" felicidades san..."
93654,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 2 ESCRITO SOBRE ...,25/2/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2 escrito sobre ...
94757,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 2 ECRITO- FELICI...,26/2/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2 ecrito- felici...
130676,10002.0,"Tarta Mousse 3 chocolates del 2º "" Muchas Feli...",12/1/2014 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 2º "" muchas feli..."
130677,10002.0,Tarta Mousse 3 chocolates del 3º escrito sobre...,12/1/2014 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3º escrito sobre...
134349,10002.0,"tarta mousse 3 chocolates del 3º escrito ""Feli...",11/5/2013 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 3º escrito ""feli..."
143425,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 4º,18/5/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4º
160232,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 4º ESCRITO SOBR...,30/5/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4º escrito sobr...
168873,10002.0,Tarta Mousse 3 chocolates de 16 rac,18/6/2017 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates de 16 rac
172309,10002.0,Tarta mousse 3 chocolates 3º escrito sobre la ...,11/9/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 3º escrito sobre la ...
184727,10002.0,TARTA MOUSSE 3 CHOCOLATES 20 RAC*,26/5/2018 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 20 rac*
188996,10002.0,TARTA MOUSSE 3 CHOCOLATES 4º ESCRITO SOBRE LA ...,21/9/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 4º escrito sobre la ...
189960,10002.0,tarta mousse 3 chocolates del 2º escrito encim...,22/12/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2º escrito encim...
241073,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 4,5/5/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4
251720,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 3 ESCRITO ENCIMA...,20/5/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3 escrito encima...
269349,10002.0,Tarta Mousse 3 chocolates del 3º escrito sobre...,5/10/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3º escrito sobre...
274355,10002.0,Tarta Mousse 3 chocolates del 2º escrito sobre...,6/10/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2º escrito sobre...
293478,10002.0,tarta Mousse 3 chocolates del 4º,19/10/2012 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4º
294735,10002.0,"Tarta Mousse 3 chocolates 2º con chocolatina ""...",21/10/2012 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates 2º con chocolatina ""..."
327507,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 4º,7/1/2013 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4º
371111,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 4,19/11/2011 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4
374020,10002.0,Tarta mousse 3 chocolates- Escrito encima de l...,23/11/2011 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates- escrito encima de l...
...,...,...,...,...,...,...,...
783312,10002.0,TARTA MOUSSE 3 CHOCOLATES CON CARTEL FELICIDAD...,22/12/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates con cartel felicidad...
783770,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL CUARTO,23/12/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del cuarto
792728,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 3 ESCRITO FELICI...,18/1/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3 escrito felici...
797083,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 1 CON CARTEL QUE...,28/2/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 1 con cartel que...
797687,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 2 ESCRITO ENCIMA...,1/3/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2 escrito encima...
800548,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL CUARTO,22/1/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del cuarto
813668,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 2 ESCRITO ENCIMA...,23/4/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2 escrito encima...
816612,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 3,26/4/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3
832545,10002.0,TARTA MOUSSE 3 CHOCOLATES 3,6/6/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 3
849993,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 2 Y ESCRITO FELI...,18/8/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 2 y escrito feli...
876293,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 3º ESCRITO SOBRE...,12/4/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3º escrito sobre...
898297,10002.0,"TARTA MOUSSE 3 CHOCOLATES DEL 2º "" FELICIDADES """,29/2/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 2º "" felicidades """
902869,10002.0,"TARTA MOUSSE 3 CHOCOLATES DEL 5º "" FELICIDADES...",1/3/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 5º "" felicidades..."
903349,10002.0,TARTA MOUSSE 3 CHOCOLATES 4º ESCRITO FELICIDAD...,1/3/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 4º escrito felicidad...
907909,10002.0,TARTA MOUSSE 3 CHOCOLATES 3º ESCRITO EN LA TAR...,20/4/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 3º escrito en la tar...
908186,10002.0,"TARTA MOUSSE 3 CHOCOLATES 3º "" FELICIDADES EST...",10/2/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates 3º "" felicidades est..."
908187,10002.0,"TARTA MOUSSE 3 CHOCOLATES DEL 2º "" FELICIDADES...",10/2/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 2º "" felicidades..."
911708,10002.0,"TARTA MOUSSE 3 CHOCOLATES DEL 3º ESCRITO "" FEL...",16/2/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 3º escrito "" fel..."
916869,10002.0,TARTA MOUSSE 3 CHOCOLATES 2º ESCRITO EN LA TAR...,15/3/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 2º escrito en la tar...
930432,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 3º CON LA BELLA,10/4/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 3º con la bella
934647,10002.0,"TARTA MOUSSE 3 CHOCOLATES DEL 3º ESCRITO "" FEL...",9/5/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 3º escrito "" fel..."
941134,10002.0,"TARTA MOUSSE 3 CHOCOLATES 2º "" FELICIDADES""",14/6/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates 2º "" felicidades"""
941135,10002.0,TARTA MOUSSE 3 CHOCOLATES 4º,14/6/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 4º
947030,10002.0,TARTA MOUSSE 3 CHOCOLATES 2 CON CARTEL ESCRIT...,30/12/2009 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 2 con cartel escrit...
952010,10002.0,TARTA MOUSSE 3 CHOCOLATES 2º ESCRITO SOBRE LA ...,2/5/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 2º escrito sobre la ...
954996,10002.0,TARTA MOUSSE 3 CHOCOLATES DEL 4º,23/5/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates del 4º
958315,10002.0,"TARTA MOUSSE 3 CHOCOLATES DEL 2º ESCRITOS "" FE...",25/5/2008 0:00:00,0,BmUP,"0,00","tarta mousse 3 chocolates del 2º escritos "" fe..."
962928,10002.0,TARTA MOUSSE 3 CHOCOLATES 4º ESCRITO SOBRE LA...,30/5/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 4º escrito sobre la...
963766,10002.0,TARTA MOUSSE 3 CHOCOLATES 4º,31/5/2008 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 4º
975414,10002.0,TARTA MOUSSE 3 CHOCOLATES 3 ESCRITO SOBRE LA...,1/1/2010 0:00:00,0,BmUP,"0,00",tarta mousse 3 chocolates 3 escrito sobre la...

In [71]:
# We make this small arrangement also to the dict_of_products:

dict_of_products['tarta mousse 3 chocolates']= 10002 # New id created

In [72]:
dict_of_products

{'croissant': 100,
 'croissant petit': 103,
 'tarta mousse 3 chocolates': 10002,
 'tarta de manzana 2º': 462,
 'palmeras de trufa': 182,
 'tarta opera': 414,
 'postre fresas y mascarpone': 4511,
 'milhojas frambuesa 2º': 459,
 'torteles': 112,
 'baguette': 115}

##  2. SELECTING OUR PRODUCTS:

Along this part of the script we will select the products described in the list obtained in our last script, and arrange them in a dataframe in a convenient manner for their manipulation.

### 2.1. CREATING THE FILTERED DATAFRAME:

In [73]:
reader=pd.read_csv(file_path+file_name, sep=sep, chunksize=100000)


filtered_df=pd.DataFrame()

for chunk in reader:
    
    chunk.dropna(how='any', inplace=True)
    chunk=chunk.drop('Unnamed: 0', axis=1)

    for value in dict_of_products.values():
        
        if filtered_df.empty:
            filtered_df=chunk[chunk['product_id']==value]
        else:
            filtered_df=filtered_df.append(chunk[chunk['product_id']==value])

In [74]:
filtered_df.head()

      product_id description          order_date  section store units_ordered
47         100.0   CROISANTS   16/6/2009 0:00:00        0  BmUP          0,00
754        100.0   CROISANTS  21/12/2012 0:00:00        0  BmUP         15,00
1029       100.0   CROISANTS   14/3/2014 0:00:00        0  BmUP         18,00
1510       100.0   CROISANTS   30/7/2013 0:00:00        0  BmUP          6,00
1645       100.0   CROISSANT    3/7/2019 0:00:00        0  BmUP          4,00

In [75]:
filtered_df['product_id'].unique()

array([ 100.,  103.,  462.,  182.,  414., 4511.,  459.,  112.,  115.])

In [76]:
filtered_df.shape

(885643, 6)

In [77]:
filtered_df[filtered_df['product_id']==103].shape

(104462, 6)

### 2.2. CLEANING THE DATA PRIOR TO ITS STORAGE:

 DATES TO APPROPRIATE FORMAT USING DATETIME:

In [78]:
from datetime import datetime as dttm

In [79]:
filtered_df['date']=filtered_df['order_date'].apply(lambda x: dttm.strptime(x,'%d/%m/%Y 0:00:00'))

We drop two columns that are of absolutely no interest for us:

In [80]:
filtered_df.drop('order_date', axis=1, inplace=True)

We convert the units ordered from string to a numeric type:

In [81]:
filtered_df.head()

      product_id description  section store units_ordered       date
47         100.0   CROISANTS        0  BmUP          0,00 2009-06-16
754        100.0   CROISANTS        0  BmUP         15,00 2012-12-21
1029       100.0   CROISANTS        0  BmUP         18,00 2014-03-14
1510       100.0   CROISANTS        0  BmUP          6,00 2013-07-30
1645       100.0   CROISSANT        0  BmUP          4,00 2019-07-03

In [82]:
filtered_df['units_ordered_numeric']=filtered_df['units_ordered'].str.split(",").str[0].astype(dtype='long')

In [83]:
filtered_df.drop('units_ordered', axis=1, inplace=True)

In [84]:
filtered_df.rename(columns={'units_ordered_numeric':'units_ordered'}, inplace=True)

In [85]:
filtered_df.head()

      product_id description  section store       date  units_ordered
47         100.0   CROISANTS        0  BmUP 2009-06-16              0
754        100.0   CROISANTS        0  BmUP 2012-12-21             15
1029       100.0   CROISANTS        0  BmUP 2014-03-14             18
1510       100.0   CROISANTS        0  BmUP 2013-07-30              6
1645       100.0   CROISSANT        0  BmUP 2019-07-03              4

Finally, we end by storing our results in a csv:

In [86]:
filtered_df.to_csv(exit_path+filtered_file_name, sep=sep)