# EDA WITH DATA OF INTEREST

In this script we perform an exploratory data analysis before starting to apply time series methods.

In [2]:
# Importing packages:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [3]:
file_path = "../../data/01_raw/"
file_name = "b2-transactions.csv"

filtered_file_name="c1-filtered_transactions.csv"

sep=";"

In [4]:
dict_of_products={'croissant': 100,
                  'croissant petit': 103,
                  'tarta mousse 3 chocolates': 10002,
                  'tarta de manzana 2ยบ': 462,
                  'palmeras de trufa': 182,
                  'tarta opera': 414,
                  'postre fresas y mascarpone': 4511,
                  'milhojas frambuesa 2ยบ': 459,
                  'torteles': 112,
                  'baguette': 115}

In [5]:
filtered_df=pd.read_csv(file_path+filtered_file_name, sep=sep)

In [6]:
filtered_df.head()

  ,product_id,description,section,store,units_ordered,date
0        47,100.0,CROISANTS,0,BmUP,"0,00",2009-06-16
1      754,100.0,CROISANTS,0,BmUP,"15,00",2012-12-21
2     1029,100.0,CROISANTS,0,BmUP,"18,00",2014-03-14
3      1510,100.0,CROISANTS,0,BmUP,"6,00",2013-07-30
4      1645,100.0,CROISSANT,0,BmUP,"4,00",2019-07-03